/* 鼠标样式 */
body {
    cursor: url("/img/normal.cur"), default;
  }
  #scroll-down,
  #anMusicBtnGetSong,
  #anMusicRefreshBtn,
  #anMusicSwitching,
  .page-number,
  .aplayer-list-index,
  .aplayer-list-author,
  .aplayer-icon-back,
  .aplayer-icon-play,
  .aplayer-icon-forward,
  .aplayer-thumb,
  .aplayer-bar,
  .aplayer-title,
  .aplayer-volume-bar-wrap,
  .bber-logo,
  .swiper-slide,
  .recent-post-item,
  .recent-post-info,
  .banner-button,
  .back-home-button,
  .tk-submit-action-icon,
  .tk-icon,
  .tk-tab,
  .tk-admin-comment-filter-type,
  .card__content,
  .aplayer-pic,
  a,
  i,
  img,
  summary,
  li,
  select,
  button {
    cursor: url("/img/click.cur"), default !important;
  }
  #card-wechat,
  .author-info__sayhi,
  .bber-info,
  .bber-info-time,
  .bber-info-from,
  .aplayer-music,
  .aplayer-lrc-contents,
  .OwO-body,
  .card-info-social-icons,
  .widget,
  .nav-button {
    cursor: url("/img/normal.cur"), default !important;
  }

/* 隐藏滚动条样式 */
:root {
  --scrollbar-color: var(--scrollbar-color-thumb, rgba(0, 0, 0, 0));
  --global-bg: var(--global-color-thumb, var(--anzhiyu-background));
}

/* nav栏浅色模式样式调整 */
[data-theme="light"] #nav {
  background: linear-gradient(to bottom, #4259ef5b, transparent);
}

[data-theme="light"] .s-sticker div {
  color: #ffffff !important;
  text-shadow: 0 0 3px #0000005b, 0 2px 3px #0000005b, 0 -2px 3px #0000005b;
}

/* 网站霓虹标题 */
#page-header #site-subtitle {
  text-shadow: 0 0 10px #AF6CAF, 0 0 20px #AF6CAF, 0 0 30px #AF6CAF, 0 0 40px #AF6CAF, 0 0 70px #AF6CAF, 0 0 80px #AF6CAF, 0 0 100px #AF6CAF, 0 0 150px #AF6CAF
}

#page-header #site-title {
  text-shadow: 0 0 10px #AF6CAF, 0 0 20px #AF6CAF, 0 0 30px #AF6CAF, 0 0 40px #AF6CAF, 0 0 70px #AF6CAF
}

/* 阅读模式退出图标 */
.read-mode .exit-readmode {
  background-image: url('/img/xmark.png') !important;
  background-size: contain !important;
  background: transparent;
}

/* 分组图标颜色 */
a.categoryButton.yellow {
  background: linear-gradient(to right, #ffda22, #f36161);
  background-size: 200%;
}

[data-theme="dark"] a.categoryButton.yellow {
  background: linear-gradient(to right, #ffda22, #f36161);
  background-size: 200%;
}

/* nav-music的层级问题 */
#nav-music {
  z-index: 11;
}

/* 公众号框底色修改 */
#aside-content .card-widget#card-wechat {
  background: #18181c;
}

[data-theme="dark"] #aside-content .card-widget#card-wechat {
  background-color: #101014;
}

/* 数字时钟 */
#bgclockbg {
  z-index: 0;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  height: auto;
  width: auto;
  transform: perspective(1000px) translateX(566px) translateY(-131px) scale(0.75) rotateY(27deg);
}

#bgclock p {
  margin: 0;
  padding: 0;
}

#bgclock {
  /* background: url(https://bu.dusays.com/2023/10/24/65378dd577bf0.png); */
  background-size: auto 100%; 
  font-family: 'Orbitron', monospace;  
  color: #c8c9c9;
  text-align: center;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

#bgclock .bgtime {
  letter-spacing: 0.05em;
  font-size: 80px; 
  padding: 5px 0;
  margin: 0 0 0 80px;
  text-align: left;
  min-width: 6.5em;
}

#bgclock .bgdate {
  letter-spacing: 0.1em;
  font-size: 24px;
}