/* 鼠标样式 */
body {
    cursor: url("/img/normal.cur"), default;
  }
  #scroll-down,
  #anMusicBtnGetSong,
  #anMusicRefreshBtn,
  #anMusicSwitching,
  .page-number,
  .aplayer-list-index,
  .aplayer-list-author,
  .aplayer-icon-back,
  .aplayer-icon-play,
  .aplayer-icon-forward,
  .aplayer-thumb,
  .aplayer-bar,
  .aplayer-title,
  .aplayer-volume-bar-wrap,
  .bber-logo,
  .swiper-slide,
  .recent-post-item,
  .recent-post-info,
  .banner-button,
  .back-home-button,
  .tk-submit-action-icon,
  .tk-icon,
  .tk-tab,
  .tk-admin-comment-filter-type,
  .card__content,
  .aplayer-pic,
  a,
  i,
  img,
  summary,
  li,
  select,
  button {
    cursor: url("/img/click.cur"), default !important;
  }
  #card-wechat,
  .author-info__sayhi,
  .bber-info,
  .bber-info-time,
  .bber-info-from,
  .aplayer-music,
  .aplayer-lrc-contents,
  .OwO-body,
  .card-info-social-icons,
  .widget,
  .nav-button {
    cursor: url("/img/normal.cur"), default !important;
  }