@font-face {
  font-family: "anzhiyufont"; /* Project id 4272559 */
  src: url('./iconfont.woff2?t=1696172390638') format('woff2'),
       url('./iconfont.woff?t=1696172390638') format('woff'),
       url('./iconfont.ttf?t=1696172390638') format('truetype');
}
.anzhiyufont {
  font-family: "anzhiyufont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anzhiyu-icon-sketchfab:before {
  content: "\e684";
}
.anzhiyu-icon-arrow-right:before {
  content: "\e600";
}
.anzhiyu-icon-arrow-left:before {
  content: "\e601";
}
.anzhiyu-icon-dice:before {
  content: "\e602";
}
.anzhiyu-icon-copy:before {
  content: "\e603";
}
.anzhiyu-icon-cube:before {
  content: "\e604";
}
.anzhiyu-icon-circle-arrow-right:before {
  content: "\e605";
}
.anzhiyu-icon-clock:before {
  content: "\e606";
}
.anzhiyu-icon-book:before {
  content: "\e607";
}
.anzhiyu-icon-calendar-alt:before {
  content: "\e608";
}
.anzhiyu-icon-eye-outline:before {
  content: "\e609";
}
.anzhiyu-icon-circle-half-stroke:before {
  content: "\e60a";
}
.anzhiyu-icon-arrow-up:before {
  content: "\e60b";
}
.anzhiyu-icon-file-word:before {
  content: "\e60c";
}
.anzhiyu-icon-fire:before {
  content: "\e60d";
}
.anzhiyu-icon-dove:before {
  content: "\e60e";
}
.anzhiyu-icon-gear:before {
  content: "\e60f";
}
.anzhiyu-icon-inbox:before {
  content: "\e610";
}
.anzhiyu-icon-history:before {
  content: "\e611";
}
.anzhiyu-icon-magnifying-glass:before {
  content: "\e612";
}
.anzhiyu-icon-message:before {
  content: "\e613";
}
.anzhiyu-icon-moon:before {
  content: "\e614";
}
.anzhiyu-icon-shapes:before {
  content: "\e615";
}
.anzhiyu-icon-shuffle:before {
  content: "\e616";
}
.anzhiyu-icon-language:before {
  content: "\e617";
}
.anzhiyu-icon-tags:before {
  content: "\e618";
}
.anzhiyu-icon-train:before {
  content: "\e619";
}
.anzhiyu-icon-warning:before {
  content: "\e61a";
}
.anzhiyu-icon-circle-arrow-up-right-1:before {
  content: "\e61b";
}
.anzhiyu-icon-fish:before {
  content: "\e61c";
}
.anzhiyu-icon-envelope:before {
  content: "\e61d";
}
.anzhiyu-icon-music:before {
  content: "\e61e";
}
.anzhiyu-icon-fan:before {
  content: "\e61f";
}
.anzhiyu-icon-heartbeat-bold:before {
  content: "\e620";
}
.anzhiyu-icon-link:before {
  content: "\e621";
}
.anzhiyu-icon-chevron-left:before {
  content: "\e622";
}
.anzhiyu-icon-rocket:before {
  content: "\e623";
}
.anzhiyu-icon-lightbulb:before {
  content: "\e624";
}
.anzhiyu-icon-shoe-prints:before {
  content: "\e625";
}
.anzhiyu-icon-images:before {
  content: "\e626";
}
.anzhiyu-icon-box-archive:before {
  content: "\e627";
}
.anzhiyu-icon-artstation:before {
  content: "\e628";
}
.anzhiyu-icon-paper-plane:before {
  content: "\e629";
}
.anzhiyu-icon-house-chimney:before {
  content: "\e62a";
}
.anzhiyu-icon-grip-vertical:before {
  content: "\e62b";
}
.anzhiyu-icon-bars:before {
  content: "\e62c";
}
.anzhiyu-icon-arrows-left-right:before {
  content: "\e62d";
}
.anzhiyu-icon-book-open:before {
  content: "\e62e";
}
.anzhiyu-icon-list-ul:before {
  content: "\e62f";
}
.anzhiyu-icon-comments:before {
  content: "\e630";
}
.anzhiyu-icon-comment-sms:before {
  content: "\e631";
}
.anzhiyu-icon-angles-right:before {
  content: "\e632";
}
.anzhiyu-icon-tag:before {
  content: "\e633";
}
.anzhiyu-icon-chevron-right:before {
  content: "\e634";
}
.anzhiyu-icon-radio:before {
  content: "\e635";
}
.anzhiyu-icon-forward:before {
  content: "\e636";
}
.anzhiyu-icon-window-restore:before {
  content: "\e637";
}
.anzhiyu-icon-backward:before {
  content: "\e638";
}
.anzhiyu-icon-download:before {
  content: "\e639";
}
.anzhiyu-icon-comment-medical:before {
  content: "\e63a";
}
.anzhiyu-icon-paste:before {
  content: "\e63b";
}
.anzhiyu-icon-arrow-rotate-right:before {
  content: "\e63c";
}
.anzhiyu-icon-play:before {
  content: "\e63d";
}
.anzhiyu-icon-circle-xmark:before {
  content: "\e63e";
}
.anzhiyu-icon-angle-down:before {
  content: "\e63f";
}
.anzhiyu-icon-chart-line:before {
  content: "\e640";
}
.anzhiyu-icon-pencil:before {
  content: "\e641";
}
.anzhiyu-icon-thumbtack:before {
  content: "\e642";
}
.anzhiyu-icon-location-dot:before {
  content: "\e643";
}
.anzhiyu-icon-fw-fire:before {
  content: "\e644";
}
.anzhiyu-icon-calendar-days:before {
  content: "\e645";
}
.anzhiyu-icon-angle-right:before {
  content: "\e646";
}
.anzhiyu-icon-dice-d20:before {
  content: "\e647";
}
.anzhiyu-icon-instagram:before {
  content: "\e648";
}
.anzhiyu-icon-xmark:before {
  content: "\e649";
}
.anzhiyu-icon-spinner:before {
  content: "\e64a";
}
.anzhiyu-icon-bullhorn:before {
  content: "\e64b";
}
.anzhiyu-icon-stream:before {
  content: "\e64c";
}
.anzhiyu-icon-caret-left:before {
  content: "\e64d";
}
.anzhiyu-icon-folder-open:before {
  content: "\e64e";
}
.anzhiyu-icon-thumbs-up:before {
  content: "\e64f";
}
.anzhiyu-icon-angle-double-down:before {
  content: "\e650";
}
.anzhiyu-icon-sign-out-alt:before {
  content: "\e651";
}
.anzhiyu-icon-angle-double-left:before {
  content: "\e652";
}
.anzhiyu-icon-angle-double-right:before {
  content: "\e653";
}
.anzhiyu-icon-angle-left:before {
  content: "\e654";
}
.anzhiyu-icon-fw-eye:before {
  content: "\e655";
}
.anzhiyu-icon-repeat:before {
  content: "\e656";
}
.anzhiyu-icon-shuffle1:before {
  content: "\e657";
}
.anzhiyu-icon-arrows-rotate:before {
  content: "\e658";
}
.anzhiyu-icon-pause:before {
  content: "\e659";
}
.anzhiyu-icon-heartbeat:before {
  content: "\e65a";
}
.anzhiyu-icon-a-2:before {
  content: "\e65b";
}
.anzhiyu-icon-jike:before {
  content: "\e65c";
}
.anzhiyu-icon-heartbeat1:before {
  content: "\e65d";
}
.anzhiyu-icon-rss:before {
  content: "\e65e";
}
.anzhiyu-icon-qq:before {
  content: "\e65f";
}
.anzhiyu-icon-github:before {
  content: "\e660";
}
.anzhiyu-icon-bilibili:before {
  content: "\e661";
}
.anzhiyu-icon-paper-plane1:before {
  content: "\e662";
}
.anzhiyu-icon-hashtag:before {
  content: "\e663";
}
.anzhiyu-icon-hand-heart-fill:before {
  content: "\e664";
}
.anzhiyu-icon-plant-fill:before {
  content: "\e665";
}
.anzhiyu-icon-qrcode:before {
  content: "\e666";
}
.anzhiyu-icon-weibo:before {
  content: "\e667";
}
.anzhiyu-icon-copyright:before {
  content: "\e668";
}
.anzhiyu-icon-bolt:before {
  content: "\e669";
}
.anzhiyu-icon-circle-info:before {
  content: "\e66a";
}
.anzhiyu-icon-triangle-exclamation:before {
  content: "\e66b";
}
.anzhiyu-icon-circle-check:before {
  content: "\e66c";
}
.anzhiyu-icon-circle-minus:before {
  content: "\e66d";
}
.anzhiyu-icon-circle-plus:before {
  content: "\e66e";
}
.anzhiyu-icon-circle-dot:before {
  content: "\e66f";
}
.anzhiyu-icon-scissors:before {
  content: "\e670";
}
.anzhiyu-icon-arrow-down:before {
  content: "\e671";
}
.anzhiyu-icon-dengpao:before {
  content: "\e672";
}
.anzhiyu-icon-danmu:before {
  content: "\e673";
}
.anzhiyu-icon-zonglan:before {
  content: "\e674";
}
.anzhiyu-icon-linggan:before {
  content: "\e675";
}
.anzhiyu-icon-sanmingzhi:before {
  content: "\e676";
}
.anzhiyu-icon-keyboard:before {
  content: "\e677";
}
.anzhiyu-icon-tiktok:before {
  content: "\e678";
}
.anzhiyu-icon-creative-commons-nd-line:before {
  content: "\e679";
}
.anzhiyu-icon-creative-commons-by-line:before {
  content: "\e67a";
}
.anzhiyu-icon-creative-commons-nc-line:before {
  content: "\e67b";
}
.anzhiyu-icon-copyright-line:before {
  content: "\e67c";
}
.anzhiyu-icon-font:before {
  content: "\e67d";
}
.anzhiyu-icon-stopwatch:before {
  content: "\e67e";
}
.anzhiyu-icon-file-lines:before {
  content: "\e67f";
}
.anzhiyu-icon-square-poll-vertical:before {
  content: "\e680";
}
.anzhiyu-icon-universal-access:before {
  content: "\e681";
}
.anzhiyu-icon-hourglass-start:before {
  content: "\e682";
}
.anzhiyu-icon-anzhiyu:before {
  content: "\e683";
}